<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script>
      /*
        主要原理：利用a标签的download属性以及canvas的toDataURL()
        selector: 图片的选择器
        name：被下载图片的命名
      */

      window.onload = function () {
        function downloadPicture(selector, name) {
          let image = new Image();
          // 解决跨域 Canvas 污染问题
          image.setAttribute("crossOrigin", "anonymous");
          image.onload = function () {
            // 创建一个canvas标签
            let canvas = document.createElement("canvas");
            // 设置canvas的宽高
            canvas.width = image.width;
            canvas.height = image.height;
            // 获取canvas的2d界面
            let context = canvas.getContext("2d");
            // 把图片画在canvas上
            context.drawImage(image, 0, 0, 200, 200);
            // 把canvas的内容转化为base64格式
            let url = canvas.toDataURL("image/png");

            // 生成一个a元素
            let a = document.createElement("a");
            // 创建一个单击事件
            let event = new MouseEvent("click");

            // 将a的download属性设置为我们想要下载的图片名称，若name不存在则使用‘下载图片名称’作为默认名称
            a.download = name || "下载图片名称";
            // 将生成的URL设置为a.href属性
            a.href = url;

            // 触发a的单击事件
            a.dispatchEvent(event);
          };
          // 获取img上的src值，赋值之后，完成之后会调用onload事件
          image.src = selector;
        }

        let btn = document.getElementById("download");
        btn.onclick = function () {
          downloadPicture("https://www.runoob.com/images/logo.png", "logo.png");
        };
      };
    </script>
  </head>
  <body>
    <form
      action="http://localhost:8081"
      method="POST"
      enctype="multipart/form-data"
    >
      文件：<input type="file" name="file1" />
      <input type="submit" value="提交" />
    </form>
    <a id="download" download="123.jpeg" target="_blank"> 下载 </a>
    <img src="/uploads/1.jpg" />
  </body>
</html>
